<!DOCTYPE html>
<html>
  <head>
    <title>Minha Todolist</title>
  </head>
  <body>
    <h1>Minha Todolist</h1>
    <form class="col-6 mx-auto" action="/novotodo" method="POST">
        <label>
          Nome do Todo:
          <input type="text" placeholder="Digite um Todo" name="item" value="Todo de teste">
        </label>
        <button type="submit">
          Adicionar Todo
        </button>
      </form>
      <% for(var i = 0; i < todoList.length; i++) { %>
        <li> <%= todoList[i].name %></li>
      <% } %>
  </body>
</html>