<!DOCTYPE html>
<html>
  <head>
    <title>Minha Todolist</title>
  </head>
  <body>
    <h1>Minha Todolist</h1>
    <form>
        <label>
          Nome do Todo:
          <input type="text" placeholder="Digite um Todo" name="item" value="teste">
        </label>
        <button type="submit">
          Adicionar Todo
        </button>
      </form>
      <div class="row">
        <ul class="col-6 mx-auto">
            <% todo.forEach(function(todo) { %>
                <li><%= todo.item %></li>
              <% }) %>
        </ul>  
      </div> 
      
  </body>
</html>